.footer {
    background-color: black;
    color: #fff;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    position: static;
    bottom: 0;
    width: 100%;
    
  }
  
  .footer p {
    color: #fff;
  }
  